<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <appSettings>
      <add key="ConnectionString" value="Data Source=lab000000\\SQLEXPRESS;Initial Catalog=DbTool;Integrated Security=True" />
      <add key="LogFilePath" value="C:\Users\lab_services_student\Documents\SQL Server Management Studio\DbToolScripts.sql" />
    </appSettings>

</configuration>